In [6]:
library(tidyverse)
library(tidytext)

── Attaching core tidyverse packages ─────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ───────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the ]8;;http://conflicted.r-lib.org/conflicted package]8;; to force all conflicts to become errors

### Get and Clean Data

In [48]:
# Size in mb
file.size('data/en_US.news.txt')/1000/1000

[1] 205.8119

In [120]:
# Blogs
blogs <- read_lines('data/en_US.blogs.txt') |> tibble(text = _)
blogs[1:3,]

# A tibble: 3 × 1
  text
  <chr>
1 In the years thereafter, most of the Oil fields and platforms were named after pagan “gods”.
2 We love you Mr. Brown.
3 Chad has been awesome with the kids and holding down the fort while I work later than usual! The kids have been …

In [79]:
# News
news <- read_lines('data/en_US.news.txt') |> tibble(text = _)
news[1:3,]

# A tibble: 3 × 1
  text
  <chr>
1 He wasn't home alone, apparently.
2 The St. Louis plant had to close. It would die of old age. Workers had been m…
3 WSU's plans quickly became a hot topic on local online sites. Though most peo…

In [80]:
# Tweets
# read_lines flags a warning, but there are no problems reported
tweets <- read_lines('data/en_US.twitter.txt') |> tibble(text = _)
tweets[1:3,]

Warning message:
One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)

# A tibble: 3 × 1
  text
  <chr>
1 How are you? Btw thanks for the RT. You gonna be in DC anytime soon? Love to …
2 When you meet someone special... you'll know. Your heart will beat more rapid…
3 they've decided its more fun if I don't.

In [81]:
tweets |> dim()

[1] 2360148       1

### Exploratory Data Analysis

In [121]:
df <- tibble(
  type = c('blogs','news','tweets'),
  data = list(blogs, news, tweets)
)
df

# A tibble: 3 × 2
  type   data
  <chr>  <list>
1 blogs  <tibble [899,288 × 1]>
2 news   <tibble [1,010,242 × 1]>
3 tweets <tibble [2,360,148 × 1]>

In [122]:
# Longest document in each corpora
df |> rowwise() |>
  mutate(maxLength = max(map_int(data$text, str_length)))

# A tibble: 3 × 3
# Rowwise:
  type   data                     maxLength
  <chr>  <list>                       <int>
1 blogs  <tibble [899,288 × 1]>       40833
2 news   <tibble [1,010,242 × 1]>     11384
3 tweets <tibble [2,360,148 × 1]>       140

In [62]:
df[1,2]

# A tibble: 1 × 1
  data
  <list>
1 <tibble [1,010,242 × 1]>