In [6]:
library(tidyverse)
library(tidytext)

── Attaching core tidyverse packages ─────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ───────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the ]8;;http://conflicted.r-lib.org/conflicted package]8;; to force all conflicts to become errors

### Get and Clean Data

In [48]:
# Size in mb
file.size('data/en_US.news.txt')/1000/1000

[1] 205.8119

In [78]:
# Blogs
blogs <- read_lines('data/en_US.news.txt') |> tibble(text = _)
blogs[1:3,]

# A tibble: 3 × 1
  text
  <chr>
1 He wasn't home alone, apparently.
2 The St. Louis plant had to close. It would die of old age. Workers had been m…
3 WSU's plans quickly became a hot topic on local online sites. Though most peo…

In [79]:
# News
news <- read_lines('data/en_US.news.txt') |> tibble(text = _)
news[1:3,]

# A tibble: 3 × 1
  text
  <chr>
1 He wasn't home alone, apparently.
2 The St. Louis plant had to close. It would die of old age. Workers had been m…
3 WSU's plans quickly became a hot topic on local online sites. Though most peo…

In [80]:
# Tweets
# read_lines flags a warning, but there are no problems reported
tweets <- read_lines('data/en_US.twitter.txt') |> tibble(text = _)
tweets[1:3,]

Warning message:
One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)

# A tibble: 3 × 1
  text
  <chr>
1 How are you? Btw thanks for the RT. You gonna be in DC anytime soon? Love to …
2 When you meet someone special... you'll know. Your heart will beat more rapid…
3 they've decided its more fun if I don't.

In [81]:
tweets |> dim()

[1] 2360148       1

### Exploratory Data Analysis

In [83]:
df <- tibble(
  type = c('blogs','news','tweets'),
  data = list(blogs, news, tweets)
)
df

# A tibble: 3 × 2
  type   data
  <chr>  <list>
1 blogs  <tibble [1,010,242 × 1]>
2 news   <tibble [1,010,242 × 1]>
3 tweets <tibble [2,360,148 × 1]>

In [87]:
df |> pull(data)

[[1]]
# A tibble: 1,010,242 × 1
   text
   <chr>
 1 "He wasn't home alone, apparently."
 2 "The St. Louis plant had to close. It would die of old age. Workers had been…
 3 "WSU's plans quickly became a hot topic on local online sites. Though most p…
 4 "The Alaimo Group of Mount Holly was up for a contract last fall to evaluate…
 5 "And when it's often difficult to predict a law's impact, legislators should…
 6 "There was a certain amount of scoffing going around a few years ago when th…
 7 "14915 Charlevoix, Detroit"
 8 "\"It’s just another in a long line of failed attempts to subsidize Atlantic…
 9 "But time and again in the report, Sullivan called on CPS to correct problem…
10 "\u0093I was just trying to hit it hard someplace,\u0094 said Rizzo, who hit…
# ℹ 1,010,232 more rows
# ℹ Use `print(n = ...)` to see more rows

[[2]]
# A tibble: 1,010,242 × 1
   text
   <chr>
 1 "He wasn't home alone, apparently."
 2 "The St. Louis plant had to close. It would die of old age. Workers had been…
 3 "WSU's plans quickly became a hot topic on local online sites. Though most p…
 4 "The Alaimo Group of Mount Holly was up for a contract last fall to evaluate…
 5 "And when it's often difficult to predict a law's impact, legislators should…
 6 "There was a certain amount of scoffing going around a few years ago when th…
 7 "14915 Charlevoix, Detroit"
 8 "\"It’s just another in a long line of failed attempts to subsidize Atlantic…
 9 "But time and again in the report, Sullivan called on CPS to correct problem…
10 "\u0093I was just trying to hit it hard someplace,\u0094 said Rizzo, who hit…
# ℹ 1,010,232 more rows
# ℹ Use `print(n = ...)` to see more rows

[[3]]
# A tibble: 2,360,148 × 1
   text
   <chr>
 1 How are you? Btw thanks for the RT. You gonna be in DC anytime soon? Love to…
 2 When you meet someone special... you'll know. Your heart will beat more rapi…
 3 they've decided its more fun if I don't.
 4 So Tired D; Played Lazer Tag & Ran A LOT D; Ughh Going To Sleep Like In 5 Mi…
 5 Words from a complete stranger! Made my birthday even better :)
 6 First Cubs game ever! Wrigley field is gorgeous. This is perfect. Go Cubs Go!
 7 i no! i get another day off from skool due to the wonderful snow (: and THIS…
 8 I'm coo... Jus at work hella tired r u ever in cali
 9 The new sundrop commercial ...hehe love at first sight
10 we need to reconnect THIS WEEK
# ℹ 2,360,138 more rows
# ℹ Use `print(n = ...)` to see more rows

In [86]:
df |> mutate(
  maxLength = max(unlist(data)$text))

: Error in `mutate()`:
ℹ In argument: `maxLength = max(unlist(data)$text)`.
Caused by error in `unlist(data)$text`:
! $ operator is invalid for atomic vectors

In [62]:
df[1,2]

# A tibble: 1 × 1
  data
  <list>
1 <tibble [1,010,242 × 1]>